.backup-and-restore {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}

.backup-and-restore__section__subtitle {
  //   margin-bottom: 20px;
}

.backup-and-restore__section__action {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  justify-content: flex-start;
}
