.permissions__form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  align-items: flex-end;
  margin-bottom: 20px;
}

.action-column {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: flex-end;
}
