.list-spaces {
  display: grid;
  padding: 20px 20px;
  align-content: center;
  grid-template-rows: auto auto;
  .list-spaces--content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    overflow-y: auto;
    align-items: flex-start;
  }
}

.space-list-item {
  // background-color: ;
  padding: 20px 40px;
  // box-shadow: ;
  .space-list-item--link {
    display: flex;
  }
  border-left: 6px solid transparent;

  &:hover {
    cursor: pointer;
    border-left: 6px solid var(--color-primary-1);
  }
}
