.category-selection {
}

.category-selection__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.category-selection__list__chip {
  box-shadow: none;
  border: 1px solid var(--color-container-i);
  border-radius: 100px;
  padding: 10px 30px;
  color: inherit;
  margin: 10px 10px;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  background-color: inherit;
  &:focus {
    background-color: var(--color-info);
    color: var(--color-info-i);
  }
  background-color: inherit;
  &:hover {
    background-color: var(--color-info);
    color: var(--color-info-i);
  }
}

.category-selection__list__chip--selected,
.category-selection__list__chip--selected:focus,
.category-selection__list__chip--selected:hover {
  background-color: var(--color-default);
  color: var(--color-default-i);
}
