@import '../custom/box-shadow.scss';

* {
  .oak-bs-elevation0 {
    box-shadow: var(--oak-bs-elevation0);
  }
  .oak-bs-elevation1 {
    box-shadow: var(--oak-bs-elevation1);
  }
  .oak-bs-elevation2 {
    box-shadow: var(--oak-bs-elevation2);
  }
  .oak-bs-elevation3 {
    box-shadow: var(--oak-bs-elevation3);
  }
  .oak-bs-elevation4 {
    box-shadow: var(--oak-bs-elevation4);
  }
  .oak-bs-elevation5 {
    box-shadow: var(--oak-bs-elevation5);
  }
  .oak-bs-elevation6 {
    box-shadow: var(--oak-bs-elevation6);
  }
  .oak-bs-elevation7 {
    box-shadow: var(--oak-bs-elevation7);
  }
  .oak-bs-elevation8 {
    box-shadow: var(--oak-bs-elevation8);
  }
  .oak-bs-elevation9 {
    box-shadow: var(--oak-bs-elevation9);
  }
  .oak-bs-elevation10 {
    box-shadow: var(--oak-bs-elevation10);
  }
  .oak-bs-elevation11 {
    box-shadow: var(--oak-bs-elevation11);
  }
  .oak-bs-elevation12 {
    box-shadow: var(--oak-bs-elevation12);
  }
  .oak-bs-elevation13 {
    box-shadow: var(--oak-bs-elevation13);
  }
  .oak-bs-elevation14 {
    box-shadow: var(--oak-bs-elevation14);
  }
  .oak-bs-elevation15 {
    box-shadow: var(--oak-bs-elevation15);
  }
  .oak-bs-elevation16 {
    box-shadow: var(--oak-bs-elevation16);
  }
  .oak-bs-elevation17 {
    box-shadow: var(--oak-bs-elevation17);
  }
  .oak-bs-elevation18 {
    box-shadow: var(--oak-bs-elevation18);
  }
  .oak-bs-elevation19 {
    box-shadow: var(--oak-bs-elevation19);
  }
  .oak-bs-elevation20 {
    box-shadow: var(--oak-bs-elevation20);
  }
  .oak-bs-elevation21 {
    box-shadow: var(--oak-bs-elevation21);
  }
  .oak-bs-elevation22 {
    box-shadow: var(--oak-bs-elevation22);
  }
  .oak-bs-elevation23 {
    box-shadow: var(--oak-bs-elevation23);
  }
  .oak-bs-elevation24 {
    box-shadow: var(--oak-bs-elevation24);
  }
}
