@import '../custom/padding.scss';

* {
  .oak-padding-horizontal0 {
    padding-left: var(--oak-padding-horizontal0);
    padding-right: var(--oak-padding-horizontal0);
  }
  .oak-padding-horizontal1 {
    padding-left: var(--oak-padding-horizontal1);
    padding-right: var(--oak-padding-horizontal1);
  }
  .oak-padding-horizontal2 {
    padding-left: var(--oak-padding-horizontal2);
    padding-right: var(--oak-padding-horizontal2);
  }
  .oak-padding-horizontal3 {
    padding-left: var(--oak-padding-horizontal3);
    padding-right: var(--oak-padding-horizontal3);
  }
  .oak-padding-horizontal4 {
    padding-left: var(--oak-padding-horizontal4);
    padding-right: var(--oak-padding-horizontal4);
  }
  .oak-padding-horizontal5 {
    padding-left: var(--oak-padding-horizontal5);
    padding-right: var(--oak-padding-horizontal5);
  }
  .oak-padding-horizontal6 {
    padding-left: var(--oak-padding-horizontal6);
    padding-right: var(--oak-padding-horizontal6);
  }
  .oak-padding-horizontal7 {
    padding-left: var(--oak-padding-horizontal7);
    padding-right: var(--oak-padding-horizontal7);
  }
  .oak-padding-horizontal8 {
    padding-left: var(--oak-padding-horizontal8);
    padding-right: var(--oak-padding-horizontal8);
  }
  .oak-padding-horizontal9 {
    padding-left: var(--oak-padding-horizontal9);
    padding-right: var(--oak-padding-horizontal9);
  }
  .oak-padding-horizontal10 {
    padding-left: var(--oak-padding-horizontal10);
    padding-right: var(--oak-padding-horizontal10);
  }

  .oak-padding-vertical0 {
    padding-top: var(--oak-padding-vertical0);
    padding-bottom: var(--oak-padding-vertical0);
  }
  .oak-padding-vertical1 {
    padding-top: var(--oak-padding-vertical1);
    padding-bottom: var(--oak-padding-vertical1);
  }
  .oak-padding-vertical2 {
    padding-top: var(--oak-padding-vertical2);
    padding-bottom: var(--oak-padding-vertical2);
  }
  .oak-padding-vertical3 {
    padding-top: var(--oak-padding-vertical3);
    padding-bottom: var(--oak-padding-vertical3);
  }
  .oak-padding-vertical4 {
    padding-top: var(--oak-padding-vertical4);
    padding-bottom: var(--oak-padding-vertical4);
  }
  .oak-padding-vertical5 {
    padding-top: var(--oak-padding-vertical5);
    padding-bottom: var(--oak-padding-vertical5);
  }
  .oak-padding-vertical6 {
    padding-top: var(--oak-padding-vertical6);
    padding-bottom: var(--oak-padding-vertical6);
  }
  .oak-padding-vertical7 {
    padding-top: var(--oak-padding-vertical7);
    padding-bottom: var(--oak-padding-vertical7);
  }
  .oak-padding-vertical8 {
    padding-top: var(--oak-padding-vertical8);
    padding-bottom: var(--oak-padding-vertical8);
  }
  .oak-padding-vertical9 {
    padding-top: var(--oak-padding-vertical9);
    padding-bottom: var(--oak-padding-vertical9);
  }
  .oak-padding-vertical10 {
    padding-top: var(--oak-padding-vertical10);
    padding-bottom: var(--oak-padding-vertical10);
  }
}
