.spinner-demo {
    display: grid;
    
    @media (min-width: 767px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
        grid-auto-flow: row;
    }

    .spinner-demo--section {
        min-height: 300px;
        color: var(--global-color-fg);
    }
}