.account-type-chip {
  color: var(--color-info-i);
  padding: 10px 20px;
  border-radius: 100px;
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: var(--tag-background-color);
  &:hover,
  &:focus {
    background-color: var(--tag-background-color-hover);
  }
}

.account-type-chip--active {
  background-color: var(--color-default);
  color: var(--color-default-i);
  &:hover,
  &:focus {
    background-color: var(--color-default);
    color: var(--color-default-i);
  }
}
