// .navigation-container {
//   position: sticky;
//   top: 0;
//   z-index: 40;
//   // height: 80px;
//   height: 50px;
//   box-shadow: none;
//   //   box-shadow: 0 2px 4px RGB(45 62 80 / 12%);
//   border-bottom: 1px solid var(--color-global-dark);
//   transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
// }
.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  // height: 80px;
  height: 50px;
  box-shadow: none;
  //   box-shadow: 0 2px 4px RGB(45 62 80 / 12%);
  background-color: var(--color-global);
  border-bottom: 1px solid var(--color-global-dark);
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.navigation-container.navigation-container--transparent {
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  background-color: var(--color-global-semitransparent2);
  border-bottom: 1px solid transparent;
}
