a {
  text-decoration: none;
  color: var(--color-primary-1);
}

.dialog-container {
  background-color: var(--color-dialog) !important;
  color: var(--color-foreground-1);
}

// @media (min-width: 768px) {
//   ::-webkit-scrollbar {
//     width: 10px; /* for vertical scrollbars */
//     height: 10px; /* for horizontal scrollbars */
//   }

//   ::-webkit-scrollbar-track {
//     background: var(--color-foreground-5);
//     border-radius: 10px;
//   }

//   ::-webkit-scrollbar-thumb {
//     background: var(--color-foreground-3);
//     border-radius: 10px;
//   }
// }

.App {
  width: 100%;
  margin: auto;

  .actionbar,
  .actionbar-1 {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }

  .actionbar-2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }

  .actionbar-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
  }

  .app-container {
    width: 100%;
    margin: auto;
    .boxed {
      min-height: 100vh;
      padding-top: calc(var(--height-nav) + 20px);
      // padding-bottom: 40px;

      @media (min-width: 768px) {
        width: 60%;
        margin: auto;
      }
      @media (max-width: 767px) {
        padding-top: 0px;
        // padding-left: 20px;
        // padding-right: 20px;
        // width: 70%;
        // margin: auto;
      }
    }
    .full {
      min-height: 100vh;
      padding-top: calc(var(--height-nav));
    }
  }

  .app-container {
    display: flex;
    flex: 1 1;
    // grid-template-columns: 250px 1fr;
    // position: fixed;
    display: grid;
    grid-template-columns: auto 1fr;

    right: 0;
    .app-container--sidebar {
      overflow: hidden;
      grid-row: 1/3;
      background-color: var(--color-nav);
      color: var(--color-foreground-1);
      width: 250px;
      @media (max-width: 767px) {
        width: 90vw;
      }
      // transition: margin 250ms ease-in-out;
      transition: margin-left 250ms ease-out, transform 250ms ease-out;
      // width: 100%;
      &.hide {
        // width: 100vw;
        margin-left: -250px;
        @media (max-width: 767px) {
          margin-left: -90vw;
        }
      }
      &.show {
        @media (min-width: 768px) {
          // width: calc(100vw - 250px);
          margin-left: 0px;
        }
      }
    }

    .app-container--main {
      // overflow-x: auto;
      // overflow-y: scroll;
      overflow: hidden;
      height: calc(100vh);
      display: flex;
      flex-direction: column;
      grid-template-rows: auto auto;
      .app-container--main--topbar {
        height: 36px;
        border-bottom: 1px solid var(--color-background-3);
        background-color: var(--color-background-3);
      }
      .app-container--main--topbar,
      .app-container--main--body {
        // transition: width 250ms ease-in-out;
        transition: margin 250ms ease-in-out;
        width: 100%;
        &.sidebar-hidden {
          // width: 100vw;
          // margin-left: -250px;
        }
        &.sidebar-shown {
          @media (max-width: 767px) {
            // width: calc(100vw - 250px);
            // margin-left: 0px;
            visibility: hidden;
          }
        }
      }
      .app-container--main--body {
        overflow-y: auto;
      }
    }
  }
}

//   &.icon {
//     font-size: 0.8em;
//     padding: 0em 0em;
//     background: transparent;
//     border: none;
//   }

//   .material-icons {
//     vertical-align: bottom;
//     font-size: 20px;
//     margin-right: 5px;
//   }
// }

.MuiInputLabel-root,
.MuiInputBase-root {
  color: white;
}

.color-primary {
  color: var(--color-primary-1);
}

.color-secondary {
  color: var(--color-secondary-1);
}

// input {
//   display: block;
//   font-size: 16px;
//   line-height: 25px;
//   // margin-top: 0;
//   font-weight: 300;
//   border: none;
//   border-radius: 2px;
//   background: #fff;
//   color: #1a1a1a;
//   padding: 14.4px 16px;
//   width: 100%;
//   outline: none;
// }

form {
  width: 100%;
}
