.category-selection-filter {
  // margin-bottom: calc(var(--oak-gutter-bottom) - 10px);
}

.category-selection-filter__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.category-selection-filter__list__chip {
  box-shadow: none;
  border: 1px solid var(--color-container-i);
  border-radius: 100px;
  padding: 6px 12px;
  color: inherit;
  margin: 0 10px 10px 0;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  background-color: inherit;
  &:focus {
    background-color: var(--color-info);
    color: var(--color-info-i);
  }
  background-color: inherit;
  &:hover {
    background-color: var(--color-info);
    color: var(--color-info-i);
  }
}

.category-selection-filter__list__chip--selected,
.category-selection-filter__list__chip--selected:focus,
.category-selection-filter__list__chip--selected:hover {
  background-color: var(--color-default);
  color: var(--color-default-i);
}

label {
  display: block;
  font-size: var(--oak-label-size);
  margin-bottom: 4px;
  color: var(--formelement-color-label);
  text-transform: capitalize;
  word-break: keep-all;
}
