.expense-filter {
  padding: 0 20px;
}

.expense-filter__topbar {
  height: 100px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-content: center;
  align-items: center;
  font-size: 28px;
}

.expense-filter__main {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}

.expense-filter__action {
  height: 100px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.expense-filter__name {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}
