.list-expense {
  //   padding: 20px;
  // padding: 20px 20px;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.list-expense__action {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  background-color: var(--color-surface);
}

.list-expense__action__left,
.list-expense__action__right {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

.list-expense__column {
  min-width: 150px !important;
}
.list-expense__column--selection {
  width: 50px !important;
  min-width: 50px !important;
}

.list-expense__column--kakeibo {
  min-width: auto !important;
}

.list-expense__column--description {
  max-width: 400px !important;
}
