.oak-viewer {
  font-size: var(--oak-typography-body1-font-size);
  font-weight: 300;
  line-height: var(--oak-typography-body1-line-height);
  letter-spacing: var(--oak-typography-body1-letter-spacing);

  img {
    width: 100%;
  }
  p {
    margin-bottom: 24px;
  }
  h1 {
    font-size: var(--oak-typography-h1-font-size);
    font-weight: var(--oak-typography-h1-font-weight);
    line-height: var(--oak-typography-h1-line-height);
    letter-spacing: var(--oak-typography-h1-letter-spacing);
    margin-bottom: 24px;
  }
  h2 {
    font-size: var(--oak-typography-h2-font-size);
    font-weight: var(--oak-typography-h2-font-weight);
    line-height: var(--oak-typography-h2-line-height);
    letter-spacing: var(--oak-typography-h2-letter-spacing);
    margin-bottom: 24px;
  }
  h3 {
    font-size: var(--oak-typography-h3-font-size);
    font-weight: var(--oak-typography-h3-font-weight);
    line-height: var(--oak-typography-h3-line-height);
    letter-spacing: var(--oak-typography-h3-letter-spacing);
    margin-bottom: 24px;
  }
  h4 {
    font-size: var(--oak-typography-h4-font-size);
    font-weight: var(--oak-typography-h4-font-weight);
    line-height: var(--oak-typography-h4-line-height);
    letter-spacing: var(--oak-typography-h4-letter-spacing);
    margin-bottom: 24px;
  }
  ol,
  ul {
    margin-bottom: 24px;
  }
  ol,
  ul {
    li {
      list-style-position: inside;
      padding-left: 1.5em;
      display: list-item;
      list-style-type: none;
      &::before {
        display: inline-block;
        // width: 1.2em;
        white-space: nowrap;
        // margin-left: -1.5em;
        margin-right: 0.3em;
        text-align: right;
      }

      &.ql-indent-1 {
        padding-left: 3em;
      }

      &.ql-indent-2 {
        padding-left: 4.5em;
      }

      &.ql-indent-3 {
        padding-left: 6em;
      }

      &.ql-indent-4 {
        padding-left: 7.5em;
      }

      &.ql-indent-5 {
        padding-left: 9em;
      }

      &.ql-indent-6 {
        padding-left: 10.5em;
      }

      &.ql-indent-7 {
        padding-left: 12em;
      }
    }
  }

  ol {
    li {
      list-style-type: none;
      counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8
        list-9;
      counter-increment: list-0;
      &::before {
        content: counter(list-0) '. ';
      }
      &.ql-indent-1 {
        counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        counter-increment: list-1;
        &::before {
          content: counter(list-0) '.' counter(list-1) '. ';
        }
      }
      &.ql-indent-2 {
        counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        counter-increment: list-2;
        &::before {
          content: counter(list-2, lower-alpha) '. ';
        }
      }
      &.ql-indent-3 {
        counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
        counter-increment: list-3;
        &::before {
          content: counter(list-3, lower-roman) '. ';
        }
      }
      &.ql-indent-4 {
        counter-reset: list-5 list-6 list-7 list-8 list-9;
        counter-increment: list-4;
        &::before {
          content: counter(list-4) '. ';
        }
      }
      &.ql-indent-5 {
        counter-reset: list-6 list-7 list-8 list-9;
        counter-increment: list-5;
        &::before {
          content: counter(list-4) '.' counter(list-5) '. ';
        }
      }
      &.ql-indent-6 {
        counter-reset: list-7 list-8 list-9;
        counter-increment: list-6;
        &::before {
          content: counter(list-6, lower-alpha) '. ';
        }
      }
      &.ql-indent-7 {
        counter-reset: list-8 list-9;
        counter-increment: list-7;
        &::before {
          content: counter(list-7, lower-roman) '. ';
        }
      }
    }
  }
  ul {
    li {
      list-style-type: none;
      &::before {
        content: '\2022';
        // content: '\003e';
        // content: url(chevron-right-solid.svg);
      }
    }
  }
  .ql-syntax {
    border-radius: 4px;
    padding: 4px;
    // background-color: var(--color-background-transparent-5);
  }

  blockquote {
    // background-color: var(--color-background-transparent-5);
  }

  .ql-snow .ql-stroke {
    stroke: var(--color-1);
  }
  .ql-snow .ql-fill,
  .ql-snow .ql-stroke.ql-fill {
    fill: var(--color-1);
  }
  .ql-picker-label {
    color: var(--color-1);
    &:hover {
      color: green;
    }
  }
  .ql-strike.ql-active {
    // border: 1px solid var(--color-1);
    background-color: var(--color-1);
    color: var(--color-1);
  }
}
