.oak-text-plain {
  // width: 100%;

  input,
  textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 14px;
    border: 1px solid var(--global-border-color);
    background-color: var(--formelement-color-bg);
    color: var(--formelement-color-fg);
    box-sizing: border-box;
    padding: 5px 5px;
    border-radius: 2px;

    &:focus {
      border: 1px solid var(--color-primary-1);
      background-color: var(--formelement-color-bg-active);
      color: var(--formelement-color-fg-active);
    }

    &.error {
      // border-color: var(--color-danger-1);
      background-color: var(--color-failure-dim);

      &:focus {
      }
    }

    &.disabled {
      background-color: var(--formelement-color-bg-disabled);
      color: var(--formelement-color-fg-disabled);
    }
  }

  input {
  }

  textarea {
    // height: 500px;
    height: 100px;
    overflow-y: auto;
    resize: none;
    max-height: 200px;
  }

  label {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    color: var(--formelement-color-label);
    text-transform: capitalize;
    word-break: keep-all;
  }
}
