.oak-section-outer {
  margin: 10px;
  @media (max-width: 767px) {
    margin: 5px;
  }
}

.oak-section {
  margin: 10px;
  border-radius: 6px;
  // padding: 40px 60px;
  animation: pageTransition 500ms cubic-bezier(0, 1, 0.5, 1);
  @media (max-width: 767px) {
    //   padding: 10px;
    margin: 5px;
  }
  display: grid;
  grid-auto-flow: row;
  .oak-section--header-basic, .oak-section--header-highlight {
    // overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    padding: 15px 20px;
    margin-bottom: 15px;
    font-weight: 500;
    border-radius: 0 6px 0 0;
  }
  .oak-section--header-highlight {
    background-color: var(--color-background-1);
    border-left: 3px solid var(--color-primary-1);
  }
  .oak-section--body {
     padding: 10px 10px;
  .oak-section--app-text {
    margin: auto;
    width: 100%;
    @media (max-width: 767px) {
      width: 100%;
    }
    word-break: break-word;
  }
}
  box-shadow: var(--bs-card);

  background-color: var(--color-background-2);
  // padding: 10px 10px;
}

@keyframes pageTransition {
  0% {
    // transform: translateY(5vh);
    transform: rotateX(60deg) translateX(1vw);
    opacity: 0;
  }
  100% {
    // transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pageTransitionMoveUp {
  0% {
    transform: translateY(2vh);
    opacity: 0;
  }
  100% {
    // transform: translateY(0);
    opacity: 1;
  }
}
