button {
  &.oak-button {
    display: grid;
    align-items: center;
    align-content: center;
    --btn-text-color: #fcfcfc;
    --btn-text-color-dark: #000000;
    user-select: none;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    border: 2px solid var(--color-bg);

    &.shape-sharp {
      border-radius: 0;
    }

    &.shape-rectangle {
      border-radius: 4px;
    }

    &.shape-rounded {
      border-radius: 100px;
    }

    &.shape-leaf {
      border-radius: 7px 0;
    }

    &.size-xsmall {
      font-size: 10.5px;
      padding: 0 10px;
      height: 25px;
    }

    &.size-small {
      font-size: 12.25px;
      padding: 4px 15px;
      height: 35px;
    }

    &.size-medium {
      font-size: 12.25px;
      padding: 5px 20px;
      height: 40px;
    }

    &.size-large {
      font-size: 15.75px;
      padding: 15px 30px;
      height: 55px;
    }

    &.size-xsmall {
      font-size: 10.5px;
    }

    .button-label-container {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      column-gap: 10px;
    }

    // Initialize colors based on theme
    &.default {
      --color-bg: var(--color-default-1);
      --color-bg-hover: var(--color-default-2);
      --btn-text-color: var(--color-default-fg);
      --btn-text-color-dark: var(--color-default-fg-dark);
    }

    &.primary {
      --color-bg: var(--color-primary-1);
      --color-bg-hover: var(--color-primary-2);
    }

    &.secondary {
      --color-bg: var(--color-secondary-1);
      --color-bg-hover: var(--color-secondary-2);
    }

    &.tertiary {
      --color-bg: var(--color-tertiary-1);
      --color-bg-hover: var(--color-tertiary-2);
    }

    &.danger {
      --color-bg: var(--color-danger-1);
      --color-bg-hover: var(--color-danger-2);
    }

    &.warning {
      --color-bg: var(--color-warning-1);
      --color-bg-hover: var(--color-warning-2);
    }

    &.success {
      --color-bg: var(--color-success-1);
      --color-bg-hover: var(--color-success-2);
    }

    &.info {
      --color-bg: var(--color-info-1);
      --color-bg-hover: var(--color-info-2);
      --btn-text-color: var(--color-info-fg);
      --btn-text-color-dark: var(--color-info-fg-dark);
    }

    background: none;
    outline: none;
    color: var(--btn-text-color);
    // text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    position: relative;
    overflow: hidden;
    z-index: 0;

    &.small {
      padding: 0 8px;
    }

    &.align-left {
      margin-right: 5px;
    }

    &.align-right {
      margin-left: 5px;
    }

    &.align-center {
      margin-left: 5px;
      margin-right: 5px;
    }

    // Slider animation defaulted to right

    &.regular {
      background-color: var(--color-bg);
      &:hover {
        background-color: var(--color-bg-hover);
        border: 2px solid var(--color-bg-hover);
      }
    }

    &.drama {
      background-color: var(--color-default-1);
      border: 2px solid var(--color-default-1);

      &.dark {
        color: var(--btn-text-color-dark);
        &:hover {
          color: var(--btn-text-color);
        }

        &.default { 
          color: var(--btn-text-color);
        }
      }

      &.light {
        &.info {
          color: var(--btn-text-color-dark);
        }
        
        &.info {
          color: var(--btn-text-color-dark);
          &:hover {
            color: var(--btn-text-color);
          }
        }
      }

      &:hover {
        background-color: var(--color-bg-hover);
        border: 2px solid var(--color-bg-hover);
      }
    }

    &.appear {
      &:hover {
        background-color: var(--color-bg);
      }

      &.default {
        color: var(--btn-text-color-dark);
        &:hover {
          color: var(--btn-text-color);
        }
      }

      &.light {
        color: var(--btn-text-color-dark);
        &:hover {
          color: var(--btn-text-color);
        }
        
        &.info {
          color: var(--btn-text-color);
          &:hover {
            color: var(--btn-text-color);
          }
        }
      }
    }

    &.disappear {
      background-color: var(--color-bg);
      &:hover {
        background-color: transparent;
      }


      &.default {
        color: var(--btn-text-color);
        &:hover {
          color: var(--btn-text-color-dark);
        }
      }

      &.light {
        &:hover {
          color: var(--btn-text-color-dark);
        }
        
        &.info {
          color: var(--btn-text-color);
          &:hover {
            color: var(--btn-text-color);
          }
        }
      }
    }

    &.block {
      border: 2px solid transparent;
      &:hover {
        background-color: var(--color-bg);
      }

      &.default {
        color: var(--btn-text-color-dark);
        &:hover {
          color: var(--btn-text-color);
        }
      }

      &.light {
        color: var(--btn-text-color-dark);
        &:hover {
          color: var(--btn-text-color);
        }
        
        &.info {
          color: var(--btn-text-color);
          &:hover {
            color: var(--btn-text-color);
          }
        }
      }
    }

    &.outline {
      border: 2px solid transparent;
      &:hover {
        border: 2px solid var(--color-bg);
      }

      &.default {
        color: var(--btn-text-color-dark);
        &:hover {
          color: var(--btn-text-color-dark);
        }
      }

      &.light {
        color: var(--btn-text-color-dark);
        
        &.info {
          color: var(--btn-text-color);
          &:hover {
            color: var(--btn-text-color);
          }
        }
      }
    }

    &.disabled {
      opacity: 0.5;


      &.default {
        color: var(--btn-text-color-dark);
        &:hover {
          color: var(--btn-text-color-dark);
        }
      }

      &.light {
        color: var(--btn-text-color-dark);
        
        &.info {
          color: var(--btn-text-color);
          &:hover {
            color: var(--btn-text-color);
          }
        }
      }
    }

    &.icon {
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-width: 2px;
      padding: 0;
      // padding: 4px 4px;
      border-radius: 50%;
      .material-icons {
        margin: 0;
      }
      &.size-xsmall {
        height: 25px;
        width: 25px;
        .material-icons {
          font-size: 17px;
        }
      }
      &.size-small {
        height: 35px;
        width: 35px;
        .material-icons {
          font-size: 17px;
        }
      }
      &.size-medium {
        height: 40px;
        width: 40px;
        .material-icons {
          font-size: 17px;
        }
      }
      &.size-large {
        height: 55px;
        width: 55px;
        .material-icons {
          font-size: 17px;
        }
      }
    }

    .material-icons {
      vertical-align: middle;
      font-size: 17px;
    }
  }
}
