.oak-text-plain {
  // width: 100%;

  input,
  textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    color: var(--color-foreground-1);
    font-size: 14px;
    outline: none;
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-3);
    box-sizing: border-box;
    padding: 5px 5px;
    border-radius: 2px;

    &:focus {
      border: 1px solid var(--color-primary-1);
      background-color: var(--color-foreground-1);
      background-color: white;
      color: var(--color-background-1);
      color: black;
    }

    &.error {
      // border-color: var(--color-danger-1);
      background-color: var(--color-failure-dim);

      &:focus {
        color: var(--color-foreground-1);
      }
    }

    &.disabled {
      background-color: var(--color-background-3);
      color: var(--color-foreground-3);
    }
  }

  input {
  }

  textarea {
    // height: 500px;
    height: 100px;
    overflow-y: auto;
    resize: none;
    max-height: 200px;
  }

  label {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    color: var(--color-foreground-2);
    text-transform: capitalize;
    word-break: keep-all;
  }
}
