.oak-table {
  --row-height: 54px;
  --table-cell-padding: 16px;
  border-radius: var(--global-border-radius);
  background-color: var(--surface-color-bg);
  box-shadow: var(--oak-bs-elevation1);
  padding: 0 0px;

  .oak-table--nav-top, .oak-table--nav-bottom {
    height: var(--row-height);
    padding: 0 16px;
  }
  .oak-table--nav-top {
    border-bottom: 1px solid var(--global-border-color);
  }
  .oak-table--nav-bottom {
    border-top: 1px solid var(--global-border-color);
  }
}

.oak-table-container {
  overflow-x: auto;
  overflow-y: visible;
  display: block;
  table {
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;

    thead {
      tr {
        height: var(--row-height);
        th {
          padding: 0 var(--table-cell-padding);
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          user-select: none;
          span {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    tbody {
      tr {
        height: var(--row-height);
        border-top: 1px solid var(--global-border-color);
        td {
          padding: 0 var(--table-cell-padding);
        }
      }
    }
  }
}
