.oak-select-new {
  position: relative;
  .oak-select-new--results {
    ul {
      font-size: 14px;
      border-radius: 4px;
      list-style: none;
      margin: 0;
      padding: 6px 0;
      background-color: var(--formelement-color-bg);
      position: absolute;
      z-index: 10;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      max-height: 250px;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      border: 1px solid var(--global-color-border);

      li {
        padding: 8px 5px;
        background-color: var(--formelement-color-bg);
        cursor: pointer;

        &:hover, &.option-active {
          background-color: var(--color-primary-1);
          color: #fff;
        }
      }
    }
  }
}
