.sidebar {
  display: grid;
  grid-auto-flow: row;
  height: 100vh;
  align-content: flex-start;
  align-items: flex-end;
  // row-gap: 10px;
  .sidebar--header {
    // height: 70px;
  }
  .sidebar--nav {
    height: calc(100vh - 70px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
