.chart-demo {
    // width: 100%;
    position: static;
    .chart-demo-container {
        display: grid;  
        overflow: hidden;
        justify-content: center;
        @media (max-width: 767px) {
            grid-auto-flow: row;
        }
        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
    }
}