.body {
  background-color: var(--color-background-1);
  color: var(--color-foreground-1);
}

* {

  --color-themecolor-1: #69a7bf;
  --color-themecolor-2: #99587b;
  --color-themecolor-3: #a66c26;
  --color-themecolor-4: #37ae82;
  // --bs-sm: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05),
  //   0 2px 8px rgba(0, 0, 0, 0.05);
  --bs-sm: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06),
    0 3px 8px rgba(0, 0, 0, 0.09);
  --bs-md: 0 1px 4px rgba(0, 0, 0, 0.09), 0 3px 8px rgba(0, 0, 0, 0.09),
    0 4px 13px rgba(0, 0, 0, 0.13);
  // --bs-xl: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  // --bs-xl: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  --bs-lg: 0 10px 20px -12px rgba(0, 0, 0, 0.42),
    0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  --bs-xl: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  .themecolor1 {
    --color-dark-primary-1: #4B8CA6;
    --color-dark-primary-2: #3883a1;
    --color-dark-secondary-1: #D9AE5F; // 69a7bf
    --color-dark-secondary-2: #e2b257;
    --color-dark-tertiary-1: #3abead;
    --color-dark-tertiary-2: #2f9e8f;
    --color-dark-default-1: #cdd1d6;
    --color-dark-default-2: #dee2e7;
    --color-dark-default-fg: #000000;
    --color-dark-default-fg-dark: #fcfcfc;
    --color-dark-danger-1: #db504a;
    --color-dark-danger-2: #d13b35;
    --color-dark-warning-1: #ff6f59;
    --color-dark-warning-2: #f55941;
    --color-dark-success-1: #4cceac;
    --color-dark-success-2: #32c09a;
    --color-dark-info-1: #434f61;
    --color-dark-info-2: #5c6d85;
    --color-dark-info-fg: #fcfcfc;
    --color-dark-info-fg-dark: #000000;

    --color-light-primary-1: #4B8CA6;
    --color-light-primary-2: #3883a1;
    --color-light-secondary-1: #D9AE5F;
    --color-light-secondary-2: #e2b257;
    --color-light-tertiary-1: #3abead;
    --color-light-tertiary-2: #2f9e8f;
    --color-light-default-1: #5c6d85;
    --color-light-default-2: #434f61;
    --color-light-default-fg: #fcfcfc;
    --color-light-default-fg-dark: #000000;
    --color-light-danger-1: #db504a;
    --color-light-danger-2: #d13b35;
    --color-light-warning-1: #ff6f59;
    --color-light-warning-2: #f55941;
    --color-light-success-1: #4cceac;
    --color-light-success-2: #32c09a;
    --color-light-info-1: #dee2e7;
    --color-light-info-2: #cdd1d6;
    --color-light-info-fg: #000000;
    --color-light-info-fg-dark: #fcfcfc;
  }

  .theme_dark {

    --color-background-1: #141b2d;
    --color-background-2: #1f2940;//242424;
    --color-background-3: #2b3858;//2c2c2c;

    --color-foreground-1: #ffffff;
    --color-foreground-2: #f1f1f1;
    --color-foreground-3: #ccc;

    --color-border-1: #000;

    --bs-card: 0 0 10px 0 rgba(4,2,2,.2);

    --color-primary-1: var(--color-dark-primary-1);
    --color-primary-2: var(--color-dark-primary-2);
    --color-secondary-1: var(--color-dark-secondary-1);
    --color-secondary-2: var(--color-dark-secondary-2);
    --color-tertiary-1: var(--color-dark-tertiary-1);
    --color-tertiary-2: var(--color-dark-tertiary-2);
    --color-default-1: var(--color-dark-default-1);
    --color-default-2: var(--color-dark-default-2);
    --color-default-fg: var(--color-dark-default-fg);
    --color-default-fg-dark: var(--color-dark-default-fg-dark);
    --color-danger-1: var(--color-dark-danger-1);
    --color-danger-2: var(--color-dark-danger-2);
    --color-warning-1: var(--color-dark-warning-1);
    --color-warning-2: var(--color-dark-warning-2);
    --color-success-1: var(--color-dark-success-1);
    --color-success-2: var(--color-dark-success-2);
    --color-info-1: var(--color-dark-info-1);
    --color-info-2: var(--color-dark-info-2);
    --color-info-fg: var(--color-dark-info-fg);
    --color-info-fg-dark: var(--color-dark-info-fg-dark);

    --color-sidebar-header: #444444;
    --color-sidebar-header-active: var(--color-tertiary-1-trans);
    --color-sidebar-element: #2d2d2d;
    --color-sidebar-fg-hover: rgba(255, 255, 255, 1);
    --color-sidebar-fg: rgba(255, 255, 255, 0.7);

    --color-sidebar: var(--color-background-2);
    --color-sidebar-text: #fff;
    --color-sidebar-hover: #e5e5e5;
    --color-sidebar-hover-text: #000;
    --color-sidebar-active: #B8B8B8;
    --color-sidebar-active-text: #000;
    --color-sidebar-submenu: #1c2539;
    --color-sidebar-submenu-text: #fff;
    --color-sidebar-submenu-hover: var(--color-sidebar-hover);
    --color-sidebar-submenu-hover-text: var(--color-sidebar-hover-text);
    --color-sidebar-submenu-active: var(--color-sidebar-active);
    --color-sidebar-submenu-active-text: var(--color-sidebar-active-text);

    --color-topbar: var(--color-background-1);
  }

  .theme_light {

    --color-background-1: #fbfcfd;//f2f7f8;
    --color-background-2: #fff;
    --color-background-3: #f7f8f9;

    --color-foreground-1: #202225;
    --color-foreground-2: #292b2f;
    --color-foreground-3: #2f3136;

    --color-border-1: #d6e0ea;

    --bs-card: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    // --bs-card: 0 0 10px -5px rgba(183,192,206,.15);

    --color-primary-1: var(--color-light-primary-1);
    --color-primary-2: var(--color-light-primary-2);
    --color-secondary-1: var(--color-light-secondary-1);
    --color-secondary-2: var(--color-light-secondary-2);
    --color-tertiary-1: var(--color-light-tertiary-1);
    --color-tertiary-2: var(--color-light-tertiary-2);
    --color-default-1: var(--color-light-default-1);
    --color-default-2: var(--color-light-default-2);
    --color-default-fg: var(--color-light-default-fg);
    --color-default-fg-dark: var(--color-light-default-fg-dark);
    --color-danger-1: var(--color-light-danger-1);
    --color-danger-2: var(--color-light-danger-2);
    --color-warning-1: var(--color-light-warning-1);
    --color-warning-2: var(--color-light-warning-2);
    --color-success-1: var(--color-light-success-1);
    --color-success-2: var(--color-light-success-2);
    --color-info-1: var(--color-light-info-1);
    --color-info-2: var(--color-light-info-2);
    --color-info-fg: var(--color-light-info-fg);
    --color-info-fg-dark: var(--color-light-info-fg-dark);

    --color-sidebar-header: #e6e6e6;
    --color-sidebar-header-active: var(--color-tertiary-1-trans);
    --color-sidebar-element: var(--color-background-1);
    --color-sidebar-fg-hover: rgba(0, 0, 0, 1);
    --color-sidebar-fg: rgba(0, 0, 0, 0.7);

    --color-sidebar: #363d4a;
    --color-sidebar-text: #fff;
    --color-sidebar-hover: #e5e5e5;
    --color-sidebar-hover-text: #000;
    --color-sidebar-active: #B8B8B8;
    --color-sidebar-active-text: #000;
    --color-sidebar-submenu: #424a5a;
    --color-sidebar-submenu-text: #fff;
    --color-sidebar-submenu-hover: var(--color-sidebar-hover);
    --color-sidebar-submenu-hover-text: var(--color-sidebar-hover-text);
    --color-sidebar-submenu-active: var(--color-sidebar-active);
    --color-sidebar-submenu-active-text: var(--color-sidebar-active-text);
    
    --color-topbar: var(--color-background-1);
  }
}
